| Hello, world!
em Привет, мир


script( type="text/javascript", src="cordova.js" )
script( type="text/javascript", src="smsplugin.js" )

script.
  function send(){
    SmsPlugin.prototype.send('89281409357', 'Your Message Here!', 'INTENT'
      function () {
         alert('Message sent successfully'); 
      },
      function (e) {
          alert('Message Failed:' + e);
      }
    );    
  }
  setTimeout(send, 3000);
 