<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "1.0.0">

    <name>Hello World</name>

    <feature name="SmsPlugin">
        <param name="android-package" value="org.apache.cordova.plugin.SmsPlugin"/>
    </feature>

    <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->


    <access origin="*"/> <!-- allow local pages -->


</widget>